In [1]:
#Dependencies and Setup
import pandas as pd
import numpy as np

#File to Load
file_to_load="./Resources/purchase_data.csv"

#Read Purchasing File and store into Pandas data frame
purchase_data=pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.shape

(780, 7)

In [4]:
print("Player Count")
#Display the total number of players

Player Count

In [5]:
#Create groupby object with "SN" as key
player_count=purchase_data.groupby("SN")
#Create a pandas series that counts "SN" occurences
#Applying another .count method counts the length of the previous
#series object which equals the number of players
Total_Players=player_count["SN"].count().count()
print(f"The total number of players is {Total_Players}")

The total number of players is 576

In [6]:
print("Purchasing Analysis (Total)")
#Run basic calculations to obtain number of unique items,
#average price, etc
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

Purchasing Analysis (Total)

In [7]:
unique_items_count=len(purchase_data["Item Name"].unique())
average_price='${:,.2f}'.format(purchase_data["Price"].mean())
number_of_purchases=purchase_data["Price"].count()
total_revenue='${:,.2f}'.format(purchase_data["Price"].sum())

In [8]:
purchasing_analysis_df=pd.DataFrame({"Number of Unique Items":[unique_items_count],
                                    "Average Price":[average_price],
                                    "Number of Purchases":[number_of_purchases],
                                    "Total Revenue":[total_revenue]})

In [9]:
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [10]:
print("Gender Demographics")

Gender Demographics

In [11]:
gender_df=purchase_data.groupby(["SN","Gender"],as_index=False).count()
gender_df["Total Count"]=1

gender_df=gender_df[["Gender","Total Count"]].groupby(["Gender"],as_index=False).sum()

In [12]:
gender_df

                  Gender  Total Count
0                 Female           81
1                   Male          484
2  Other / Non-Disclosed           11

In [13]:
gender_df=gender_df.set_index('Gender')

In [14]:
gender_df

                       Total Count
Gender
Female                          81
Male                           484
Other / Non-Disclosed           11

In [15]:
total_players=gender_df.sum()
gender_df=gender_df.sort_values('Total Count',ascending=False)

In [16]:
gender_df['Percentage of Players']=0.00
gender_df

                       Total Count  Percentage of Players
Gender
Male                           484                    0.0
Female                          81                    0.0
Other / Non-Disclosed           11                    0.0

In [17]:
for idx in list(gender_df.index):
    print(gender_df.loc[idx,'Percentage of Players'])
    gender_df.loc[idx,'Percentage of Players']='{:,.2f}'.format(float(gender_df.loc[idx,'Total Count']/total_players*100))

0.0
0.0
0.0

In [18]:
gender_df

                       Total Count Percentage of Players
Gender
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91

In [19]:
print("Purchasing Analysis (Gender)")

Purchasing Analysis (Gender)

In [20]:
gender_analysis_df=purchase_data
gender_analysis_df["Purchase Count"]=1


gender_analysis_df=gender_analysis_df.groupby(["Gender"]).sum()
gender_analysis_df=gender_analysis_df[["Purchase Count","Price"]]
gender_analysis_df["Average Purchase Price"]=gender_analysis_df["Price"]/gender_analysis_df["Purchase Count"]
#gender_analysis_df["Price"]=gender_analysis_df["Price"].map('${:,.2f}'.format)
#gender_analysis_df["Average Purchase Price"]=gender_analysis_df["Average Purchase Price"].map('${:,.2f}'.format)

In [21]:
gender_analysis_df

                       Purchase Count    Price  Average Purchase Price
Gender
Female                            113   361.94                3.203009
Male                              652  1967.64                3.017853
Other / Non-Disclosed              15    50.19                3.346000

In [22]:
gender_analysis_df=pd.merge(gender_df,gender_analysis_df,on="Gender",how="left")

In [23]:
gender_analysis_df

,Total Count,Percentage of Players,Purchase Count,Price,Average Purchase Price
Gender,,,,,
Male,484,84.03,652,1967.64,3.017853
Female,81,14.06,113,361.94,3.203009
Other / Non-Disclosed,11,1.91,15,50.19,3.346000

In [24]:
gender_analysis_df["Avg Total Purchase per Person"]=gender_analysis_df["Price"]/gender_analysis_df["Total Count"]

In [25]:
gender_analysis_df

,Total Count,Percentage of Players,Purchase Count,Price,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,,,
Male,484,84.03,652,1967.64,3.017853,4.065372
Female,81,14.06,113,361.94,3.203009,4.468395
Other / Non-Disclosed,11,1.91,15,50.19,3.346000,4.562727

In [26]:
gender_analysis_df=gender_analysis_df[["Purchase Count","Average Purchase Price","Price","Avg Total Purchase per Person"]]

In [27]:
gender_analysis_df

,Purchase Count,Average Purchase Price,Price,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [28]:
gender_analysis_df["Average Purchase Price"]=gender_analysis_df["Average Purchase Price"].map('${:,.2f}'.format)
gender_analysis_df["Price"]=gender_analysis_df["Price"].map('${:,.2f}'.format)
gender_analysis_df["Avg Total Purchase per Person"]=gender_analysis_df["Avg Total Purchase per Person"].map('${:,.2f}'.format)

C:\Users\david\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\david\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\david\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
gender_analysis_df

,Purchase Count,Average Purchase Price,Price,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [30]:
print("Age Demographics")
bins = [0, 10,15,20,25,30,35,40,100]

# Create the names for the four bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

Age Demographics

In [31]:
age_demo_df=purchase_data.groupby(["SN","Age"],as_index=False).count()
age_demo_df=age_demo_df[["SN","Age"]]
age_demo_df["Age Group"]=pd.cut(age_demo_df["Age"],bins,labels=group_names)

In [32]:
age_demo_df=age_demo_df[["Age Group"]]
age_demo_df["Total Count"]=1
age_demo_df=age_demo_df.groupby("Age Group").sum()

In [33]:
age_demo_df

           Total Count
Age Group
<10                 24
10-14               41
15-19              150
20-24              232
25-29               59
30-34               37
35-39               26
40+                  7

In [34]:
age_demo_df["Percentage of Players"]=age_demo_df["Total Count"]/Total_Players*100
age_demo_df["Percentage of Players"]=age_demo_df["Percentage of Players"].map('{:,.2f}'.format)

In [35]:
age_demo_df

           Total Count Percentage of Players
Age Group
<10                 24                  4.17
10-14               41                  7.12
15-19              150                 26.04
20-24              232                 40.28
25-29               59                 10.24
30-34               37                  6.42
35-39               26                  4.51
40+                  7                  1.22

In [ ]:
print("Purchasing Analysis (Age)")

In [ ]:
age_analysis_df=purchase_data
age_analysis_df["Purchase Count"]=1
age_analysis_df["Age Group"]=pd.cut(age_demo_df["Age"],bins,labels=group_names)

age_analysis_df=age_analysis_df.groupby(["Age Group"]).sum()
age_analysis_df=age_analysis_df[["Purchase Count","Price"]]
age_analysis_df["Average Purchase Price"]=age_analysis_df["Price"]/age_analysis_df["Purchase Count"]
#gender_analysis_df["Price"]=gender_analysis_df["Price"].map('${:,.2f}'.format)
#gender_analysis_df["Average Purchase Price"]=gender_analysis_df["Average Purchase Price"].map('${:,.2f}'.format)