In [1]:
#Dependencies and Setup
import pandas as pd
import numpy as np

#File to Load
file_to_load="./Resources/purchase_data.csv"

#Read Purchasing File and store into Pandas data frame
purchase_data=pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.shape

(780, 7)

In [4]:
print("Player Count")
#Display the total number of players

Player Count

In [5]:
#Create groupby object with "SN" as key
player_count=purchase_data.groupby("SN")
#Create a pandas series that counts "SN" occurences
#Applying another .count method counts the length of the previous
#series object which equals the number of players
Total_Players=player_count["SN"].count().count()
print(f"The total number of players is {Total_Players}")

The total number of players is 576

In [6]:
print("Purchasing Analysis (Total)")
#Run basic calculations to obtain number of unique items,
#average price, etc
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

Purchasing Analysis (Total)

In [7]:
unique_items_count=len(purchase_data["Item Name"].unique())
average_price='${:,.2f}'.format(purchase_data["Price"].mean())
number_of_purchases=purchase_data["Price"].count()
total_revenue='${:,.2f}'.format(purchase_data["Price"].sum())

In [8]:
purchasing_analysis_df=pd.DataFrame({"Number of Unique Items":[unique_items_count],
                                    "Average Price":[average_price],
                                    "Number of Purchases":[number_of_purchases],
                                    "Total Revenue":[total_revenue]})

In [9]:
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [10]:
print("Gender Demographics")

Gender Demographics

In [11]:
gender_df=purchase_data.groupby(["SN","Gender"],as_index=False).count()
gender_df["Total Count"]=1

gender_df=gender_df[["Gender","Total Count"]].groupby(["Gender"],as_index=False).sum()

In [12]:
gender_df

                  Gender  Total Count
0                 Female           81
1                   Male          484
2  Other / Non-Disclosed           11

In [13]:
gender_df=gender_df.set_index('Gender')

In [14]:
gender_df

                       Total Count
Gender
Female                          81
Male                           484
Other / Non-Disclosed           11

In [15]:
total_players=gender_df.sum()
gender_df=gender_df.sort_values('Total Count',ascending=False)

In [16]:
gender_df['Percentage of Players']=0.00
gender_df

                       Total Count  Percentage of Players
Gender
Male                           484                    0.0
Female                          81                    0.0
Other / Non-Disclosed           11                    0.0

In [17]:
for idx in list(gender_df.index):
    print(gender_df.loc[idx,'Percentage of Players'])
    gender_df.loc[idx,'Percentage of Players']='{:,.2f}'.format(float(gender_df.loc[idx,'Total Count']/total_players*100))

0.0
0.0
0.0

In [18]:
gender_df

                       Total Count Percentage of Players
Gender
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91

In [19]:
print("Purchasing Analysis (Gender)")

Purchasing Analysis (Gender)

In [20]:
gender_analysis_df=purchase_data
gender_analysis_df["Purchase Count"]=1


gender_analysis_df=gender_analysis_df.groupby(["Gender"]).sum()
gender_analysis_df=gender_analysis_df[["Purchase Count","Price"]]
gender_analysis_df["Average Purchase Price"]=gender_analysis_df["Price"]/gender_analysis_df["Purchase Count"]
#gender_analysis_df["Price"]=gender_analysis_df["Price"].map('${:,.2f}'.format)
#gender_analysis_df["Average Purchase Price"]=gender_analysis_df["Average Purchase Price"].map('${:,.2f}'.format)

In [21]:
gender_analysis_df

                       Purchase Count    Price  Average Purchase Price
Gender
Female                            113   361.94                3.203009
Male                              652  1967.64                3.017853
Other / Non-Disclosed              15    50.19                3.346000

In [22]:
gender_analysis_df=pd.merge(gender_df,gender_analysis_df,on="Gender",how="left")

In [23]:
gender_analysis_df

,Total Count,Percentage of Players,Purchase Count,Price,Average Purchase Price
Gender,,,,,
Male,484,84.03,652,1967.64,3.017853
Female,81,14.06,113,361.94,3.203009
Other / Non-Disclosed,11,1.91,15,50.19,3.346000

In [24]:
gender_analysis_df["Avg Total Purchase per Person"]=gender_analysis_df["Price"]/gender_analysis_df["Total Count"]

In [25]:
gender_analysis_df

,Total Count,Percentage of Players,Purchase Count,Price,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,,,
Male,484,84.03,652,1967.64,3.017853,4.065372
Female,81,14.06,113,361.94,3.203009,4.468395
Other / Non-Disclosed,11,1.91,15,50.19,3.346000,4.562727

In [26]:
gender_analysis_df=gender_analysis_df[["Purchase Count","Average Purchase Price","Price","Avg Total Purchase per Person"]]

In [27]:
gender_analysis_df

,Purchase Count,Average Purchase Price,Price,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [28]:
gender_analysis_df["Average Purchase Price"]=gender_analysis_df["Average Purchase Price"].map('${:,.2f}'.format)
gender_analysis_df["Price"]=gender_analysis_df["Price"].map('${:,.2f}'.format)
gender_analysis_df["Avg Total Purchase per Person"]=gender_analysis_df["Avg Total Purchase per Person"].map('${:,.2f}'.format)

C:\Users\david\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\david\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\david\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
gender_analysis_df

,Purchase Count,Average Purchase Price,Price,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [30]:
print("Age Demographics")
bins = [0, 10,15,20,25,30,35,40,100]

# Create the names for the four bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

Age Demographics

In [31]:
age_demo_df=purchase_data.groupby(["SN","Age"],as_index=False).count()
age_demo_df=age_demo_df[["SN","Age"]]
age_demo_df["Age Group"]=pd.cut(age_demo_df["Age"],bins,labels=group_names)

In [32]:
age_demo_df=age_demo_df[["Age Group"]]
age_demo_df["Total Count"]=1
age_demo_df=age_demo_df.groupby("Age Group").sum()

In [33]:
age_demo_df

           Total Count
Age Group
<10                 24
10-14               41
15-19              150
20-24              232
25-29               59
30-34               37
35-39               26
40+                  7

In [34]:
age_demo_df["Percentage of Players"]=age_demo_df["Total Count"]/Total_Players*100
age_demo_df["Percentage of Players"]=age_demo_df["Percentage of Players"].map('{:,.2f}'.format)

In [35]:
age_demo_df

           Total Count Percentage of Players
Age Group
<10                 24                  4.17
10-14               41                  7.12
15-19              150                 26.04
20-24              232                 40.28
25-29               59                 10.24
30-34               37                  6.42
35-39               26                  4.51
40+                  7                  1.22

In [36]:
print("Purchasing Analysis (Age)")

Purchasing Analysis (Age)

In [37]:
age_analysis_df=purchase_data.loc[:,["SN","Age","Price"]]
age_analysis_df["Purchase Count"]=1
age_analysis_df["Age Group"]=pd.cut(age_analysis_df["Age"],bins,labels=group_names)
age_unique_analysis_df=age_analysis_df.groupby(["SN","Age Group"]).size().reset_index()
age_unique_analysis_df=age_unique_analysis_df.groupby(["Age Group"]).count().reset_index()
age_unique_analysis_df=age_unique_analysis_df.iloc[:,[0,1]]
age_unique_analysis_df=age_unique_analysis_df.rename(columns={"SN":"Player Count"})
age_analysis_df=age_analysis_df[["SN","Age Group","Price","Purchase Count"]]
age_analysis_df=age_analysis_df.groupby(["Age Group"],as_index=False).sum()
age_analysis_df=pd.merge(age_analysis_df,age_unique_analysis_df,on="Age Group",how="left")

In [38]:
age_analysis_df["Average Purchase Price"]=age_analysis_df["Price"]/age_analysis_df["Purchase Count"]
age_analysis_df["Average Total Purchase per Person"]=age_analysis_df["Price"]/age_analysis_df["Player Count"]
age_analysis_df["Average Purchase Price"]=age_analysis_df["Average Purchase Price"].map('${:,.2f}'.format)
age_analysis_df["Price"]=age_analysis_df["Price"].map('${:,.2f}'.format)
age_analysis_df["Average Total Purchase per Person"]=age_analysis_df["Average Total Purchase per Person"].map('${:,.2f}'.format)
age_analysis_df=age_analysis_df.rename(columns={"Price":"Total Purchase Value"})
age_analysis_df=age_analysis_df.iloc[:,[0,2,4,1,5]]

In [39]:

age_analysis_df=age_analysis_df.set_index("Age Group")

In [40]:
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,32,$3.40,$108.96,$4.54
10-14,54,$2.90,$156.60,$3.82
15-19,200,$3.11,$621.56,$4.14
20-24,325,$3.02,$981.64,$4.23
25-29,77,$2.88,$221.42,$3.75
30-34,52,$2.99,$155.71,$4.21
35-39,33,$3.40,$112.35,$4.32
40+,7,$3.08,$21.53,$3.08

In [44]:
print("Top Spenders")
top_spenders_df=purchase_data.loc[:,["SN","Price"]]
top_spenders_df["Purchase Count"]=1
top_spenders_df=top_spenders_df.groupby("SN").sum()
top_spenders_df["Average Purchase Price"]=top_spenders_df["Price"]/top_spenders_df["Purchase Count"]
top_spenders_df=top_spenders_df.rename(columns={"Price":"Total Purchase Value"})
top_spenders_df=top_spenders_df.sort_values("Total Purchase Value",ascending = False)
top_spenders_df=top_spenders_df.iloc[:,[1,2,0]]
top_spenders_df["Total Purchase Value"]=top_spenders_df["Total Purchase Value"].map('${:,.2f}'.format)
top_spenders_df["Average Purchase Price"]=top_spenders_df["Average Purchase Price"].map('${:,.2f}'.format)

Top Spenders

In [46]:
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [53]:
print("Most Popular Items")

Most Popular Items

In [78]:
popular_df=purchase_data.loc[:,["Item ID","Item Name","Price"]]

In [79]:
purchase_count=popular_df.groupby(["Item ID","Item Name"]).count().rename(columns={"Price":"Purchase Count"})
item_price=popular_df.groupby(["Item ID","Item Name"]).mean().rename(columns={"Price":"Item Price"})
total_purchase_value=popular_df.groupby(["Item ID","Item Name"]).sum().rename(columns={"Price":"Total Purchase Value"})

In [74]:
purchase_count.columns

Index(['Item ID', 'Item Name', 'Purchase Count'], dtype='object')

In [86]:
popular_df=pd.merge(purchase_count,item_price,on=(["Item ID","Item Name"]),how="left")
popular_df=pd.merge(popular_df,total_purchase_value,on=(["Item ID","Item Name"]),how="left")
popular_df=popular_df.sort_values("Purchase Count",ascending=False)
popular_df["Total Purchase Value"]=popular_df["Total Purchase Value"].map('${:,.2f}'.format)
popular_df["Item Price"]=popular_df["Item Price"].map('${:,.2f}'.format)

In [87]:
popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [ ]:
print("Most Profitable Item")

In [89]:
profitable_df=pd.merge(purchase_count,item_price,on=(["Item ID","Item Name"]),how="left")
profitable_df=pd.merge(profitable_df,total_purchase_value,on=(["Item ID","Item Name"]),how="left")
profitable_df=profitable_df.sort_values("Total Purchase Value",ascending=False)
profitable_df["Total Purchase Value"]=profitable_df["Total Purchase Value"].map('${:,.2f}'.format)
profitable_df["Item Price"]=profitable_df["Item Price"].map('${:,.2f}'.format)
profitable_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
139,"Mercy, Katana of Dismay",5,$4.94,$24.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
141,Persuasion,7,$3.19,$22.33
87,"Deluge, Edge of the West",5,$4.43,$22.15
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
136,Ghastly Adamantite Protector,6,$3.58,$21.48
65,Conqueror Adamantite Mace,5,$4.24,$21.20
101,Final Critic,5,$4.19,$20.95
102,Avenger,6,$3.44,$20.64
133,Faith's Scimitar,5,$4.09,$20.45
39,"Betrayal, Whisper of Grieving Widows",5,$3.94,$19.70
111,Misery's End,4,$4.89,$19.56
165,Bone Crushing Silver Skewer,4,$4.86,$19.44
75,Brutality Ivory Warmace,8,$2.42,$19.36
52,Hatred,4,$4.84,$19.36
...,...,...,...,...
124,Venom Claymore,4,$1.29,$5.16
0,Splinter,4,$1.28,$5.12
155,War-Forged Gold Deflector,5,$1.01,$5.05
48,"Rage, Legacy of the Lone Victor",2,$2.48,$4.96
158,"Darkheart, Butcher of the Champion",2,$2.45,$4.90
51,Endbringer,1,$4.66,$4.66
134,Undead Crusader,1,$4.50,$4.50
30,Stormcaller,2,$2.21,$4.42
135,Warped Diamond Crusader,3,$1.40,$4.20
91,Celeste,1,$4.17,$4.17
177,"Winterthorn, Defender of Shifting Worlds",2,$2.08,$4.16
70,Hope's End,4,$1.03,$4.12
115,Spectral Diamond Doomblade,2,$2.04,$4.08
69,"Frenzy, Defender of the Harvest",2,$1.98,$3.96
47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
180,Stormcaller,1,$3.36,$3.36
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
183,Dragon's Greatsword,3,$1.09,$3.27
31,Trickster,2,$1.55,$3.10
168,"Sun Strike, Jaws of Twisted Visions",2,$1.48,$2.96
90,Betrayer,1,$2.94,$2.94
33,Curved Axe,2,$1.16,$2.32
26,Unholy Wand,2,$1.12,$2.24
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75

In [76]:
profitable_df=pd.merge(purchase_count,item_price,on=(["Item ID","Item Name"]),how="left")
profitable_df=pd.merge(profitable_df,total_purchase_value,on=(["Item ID","Item Name"]),how="left")
profitable_df=profitable_df.sort_values("Total Purchase Value",ascending=False)
profitable_df["Total Purchase Value"]=profitable_df["Total Purchase Value"].map('${:,.2f}'.format)
profitable_df["Item Price"]=profitable_df["Item Price"].map('${:,.2f}'.format)
profitable_df

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
177,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
81,82,Nirvana,9,$4.90,$44.10
144,145,Fiery Glass Crusader,9,$4.58,$41.22
91,92,Final Critic,8,$4.88,$39.04
102,103,Singed Scalpel,8,$4.35,$34.80
58,59,"Lightning, Etcher of the King",8,$4.23,$33.84
107,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
77,78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
71,72,Winter's Bite,8,$3.77,$30.16
59,60,Wolf,8,$3.54,$28.32
178,179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
159,160,Azurewrath,6,$4.40,$26.40
25,25,Hero Cane,6,$4.35,$26.10
36,37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
138,139,"Mercy, Katana of Dismay",5,$4.94,$24.70
127,128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
137,138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
140,141,Persuasion,7,$3.19,$22.33
86,87,"Deluge, Edge of the West",5,$4.43,$22.15
158,159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
135,136,Ghastly Adamantite Protector,6,$3.58,$21.48
64,65,Conqueror Adamantite Mace,5,$4.24,$21.20
100,101,Final Critic,5,$4.19,$20.95
101,102,Avenger,6,$3.44,$20.64
132,133,Faith's Scimitar,5,$4.09,$20.45
38,39,"Betrayal, Whisper of Grieving Widows",5,$3.94,$19.70
110,111,Misery's End,4,$4.89,$19.56
164,165,Bone Crushing Silver Skewer,4,$4.86,$19.44
74,75,Brutality Ivory Warmace,8,$2.42,$19.36
51,52,Hatred,4,$4.84,$19.36
...,...,...,...,...,...
123,124,Venom Claymore,4,$1.29,$5.16
0,0,Splinter,4,$1.28,$5.12
154,155,War-Forged Gold Deflector,5,$1.01,$5.05
47,48,"Rage, Legacy of the Lone Victor",2,$2.48,$4.96
157,158,"Darkheart, Butcher of the Champion",2,$2.45,$4.90
50,51,Endbringer,1,$4.66,$4.66
133,134,Undead Crusader,1,$4.50,$4.50
30,30,Stormcaller,2,$2.21,$4.42
134,135,Warped Diamond Crusader,3,$1.40,$4.20
90,91,Celeste,1,$4.17,$4.17
176,177,"Winterthorn, Defender of Shifting Worlds",2,$2.08,$4.16
69,70,Hope's End,4,$1.03,$4.12
114,115,Spectral Diamond Doomblade,2,$2.04,$4.08
68,69,"Frenzy, Defender of the Harvest",2,$1.98,$3.96
46,47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
179,180,Stormcaller,1,$3.36,$3.36
27,27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
182,183,Dragon's Greatsword,3,$1.09,$3.27
31,31,Trickster,2,$1.55,$3.10
167,168,"Sun Strike, Jaws of Twisted Visions",2,$1.48,$2.96
89,90,Betrayer,1,$2.94,$2.94
33,33,Curved Axe,2,$1.16,$2.32
26,26,Unholy Wand,2,$1.12,$2.24
117,118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
28,28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
124,125,Whistling Mithril Warblade,2,$1.00,$2.00
125,126,Exiled Mithril Longsword,1,$2.00,$2.00
23,23,Crucifer,1,$1.99,$1.99
103,104,Gladiator's Glaive,1,$1.93,$1.93
41,42,The Decapitator,1,$1.75,$1.75